<template>
    <section id="assignedwork-review" class="row">
        <div class="col">
            <div class="card bg-primary-alternative">
                <header class="card-header">Review Work</header>

                <div class="card-block">
                    <p><a href="http://localhost:3000/files/${review.filename}" download>Download file (${review.filename})</a></p>

                    <table class="code-block">
                        <tbody>
                            <tr id="line-${$index}" class="code-line" repeat.for="line of lines">
                                <td>${$index + 1}.</td>
                                <td click.delegate="showCommentModal($index)"><i if.bind="line.hasComment" class="far fa-dot-circle"></i> ${line.contents}</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="col-xs-12 col-md-6">
                        <form>
                            <fieldset class="form-group">
                                <label><span if.bind="lines.length > 0">Additional </span>Comments:</label>
                                <textarea value.bind="additionalComments" class="form-control"></textarea>
                            </fieldset>

                            <fieldset class="form-group">
                                <label>Total Marks <span class="small">(optional)</span>:</label>
                                <input value.bind="marksGiven" id="total-marks" class="form-control"> 
                                <label>out of ${review.total_marks} marks</label>
                            </fieldset>

                            <fieldset class="form-group">
                                <button click.delegate="submitReview()" class="btn btn-success bg-primary-alternative">Submit Review</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="review-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form>
                        <fieldset class="form-group">
                            <label>Comment (line ${currentLineNumber + 1}):</label>
                            <textarea value.bind="currentComment" class="form-control"></textarea>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-cancel" data-dismiss="modal" aria-label="Close">Cancel</button>
                    <button click.delegate="addComment()" class="btn btn-success bg-primary-alternative">Add Comment</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="submit-review-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <p><i class="fas fa-cog fa-spin"></i> &nbsp; Submitting review...</p>
                </div>
            </div>
        </div>
    </div>
</template>