<template>
    <require from="bootstrap/css/bootstrap.css"></require>
    <require from="css/fontawesome-all.min.css"></require>

    <require from="css/styles-core.css"></require>
    <require from="css/styles-nav.css"></require>

    <require from="css/core/dashboard.css"></require>
    <require from="css/core/mywork.css"></require>
    <require from="css/core/assignedwork.css"></require>

    <nav id="top-navbar">
        <button if.bind="isMobile" id="top-navbar-toggle" class="btn">&#x2630;</button>
        <a id="brand" href="#/"><i class="fa fa-users"></i> Peer Review</a>
        <a id="nav-account" if.bind="authenticated">${fullName}</a>
    </nav>

    <div id="flex-container">
        <nav id="side-navbar" class="navbar-custom-muted bg-custom-muted">
            <ul class="navbar-nav">
                <li class="nav-item ${row.isActive ? 'active' : ''}" repeat.for="row of router.navigation | authFilter: authenticated">
                    <a class="nav-link" href.bind="row.href">
                        <i class="fa fa-${row.settings.icon}"></i> ${row.title.toUpperCase()}
                    </a>
                </li>
                <li class="nav-item ${route === 'login' ? 'active' : ''}" if.bind="!authenticated">
                    <a class="nav-link" href="#/login"> <i class="fa fa-sign-in-alt"></i> LOGIN</a>
                </li>
                <!-- <li class="nav-item ${route === 'register' ? 'active' : ''}" if.bind="!authenticated">
                    <a class="nav-link" href="#/register"><i class="fa fa-user-plus"></i> REGISTER</a>
                </li> -->
                <li class="nav-item" if.bind="authenticated">
                    <a class="nav-link" click.delegate="logout()" href="#"> <i class="fa fa-sign-out-alt"></i> LOGOUT</a>
                </li>
            </ul>
        </nav>

        <section id="container">
            <router-view></router-view>
        </section>
    </div>
</template>
