:root {
    --text-color-dark: #505050;
    --border-color: #C8CACF;
    --color-primary: #007BFF;
    --color-primary-alternative: #4D9BDB;
    --color-success: #28A745;
    --color-warning: #FFC107;
    --color-error: #DC3545;

    --navbar-height: 3.5rem;
}

#top-navbar {
    height: 3.5rem;
    padding: 1rem;
    background-color: var(--color-primary-alternative);
}

#top-navbar > #nav-account {
    color: #EEE;
    float: right;
}

#top-navbar > #brand {
    font-size: 1.1rem;
    color: #EEE; 
    margin-left: 0.5rem; 
}

#top-navbar > #brand:hover { 
    text-decoration: none; 
}

#top-navbar > #brand > i {
    font-size: 1.1rem;
    margin-right: 0.7rem;
}

#side-navbar {
    width: 17rem;
    height: calc(100vh - var(--navbar-height));
    border-right: 1px solid var(--border-color);
}

#side-navbar .nav-item {
    border-bottom: 1px solid var(--border-color);
}

#side-navbar .nav-item.active {
    background-color: #DADADA;
    border-left: 0.3rem solid var(--color-primary-alternative);
    font-weight: bold;
}

#side-navbar .nav-link {
    padding: 0;
    font-size: 0.8rem;
}

#side-navbar .nav-link i {
    width: 4rem;
    margin-right: 1.25rem;
    padding: 1.25rem;
    border-right: 1px solid var(--border-color);
    text-align: center;
    font-size: 1rem;
}

#side-navbar .nav-item.active .nav-link i {
    width: 3.7rem;
}

#side-navbar.navbar-custom-muted .nav-link {
    color: var(--text-color-dark);
}

#side-navbar .nav-link > i {
    color: #666666;
}

@media(max-width: 768px) {
    #top-navbar {
        position: fixed;
        width: 100vw;
        z-index: 1;
    }

    #top-navbar > #nav-account {
        display: none;
    }

    #top-navbar > #brand {
        position: absolute;
        margin-left: 20vw;
        width: 50vw;
        text-align: center;
    }

    #top-navbar-toggle {
        position: absolute;
        min-width: 1.5rem;
        height: 1.5rem;
        padding: 0;
        background-color: var(--color-primary-alternative);
        color: #ffffff;
        font-weight: bold;
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    #side-navbar {
        display: none;
    }
}