@import url('https://fonts.googleapis.com/css?family=Nunito:300');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

:root {
    --text-color-dark: #404040;
    --border-color: #C8CACF;
    --color-primary: #007BFF;
    --color-primary-alternative: #4D9BDB;
    --color-info: #17A2B8;
    --color-success: #28A745;
    --color-warning: #FFC107;
    --color-error: #DC3545;
}

body {
    font-family: 'Nunito', sans-serif;
    color: var(--text-color-dark);
}

label {
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
}

button {
    min-width: 10rem;
}

.row-separator {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.btn-success {
    background-color: #3FC380;
    border-color: #31AB6D;
}

.btn-danger {
    background-color: #e46f7a;
    border-color: #c7535f;
}

.btn-cancel {
    min-width: initial;
    width: 5rem;
}

.btn-card {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.card {
    border-color: var(--border-color);
}

.card-list > .card-block {
    overflow-y: auto;
}

.card.bg-primary-alternative > .card-header {
    background-color: var(--color-primary-alternative);
    color: #EEE;
}

.card.bg-primary-alternative > .card-block {
    background-color: #FFFFFF;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.card-block {
    padding: 1.25rem;
}

ul.card-block {
    margin-bottom: 0;
}

li.card {
    border-color: #D8D8D8;
}

li.card:hover {
    background-color: #EAEAEA;
    cursor: pointer;
}

li.card:not(:last-of-type) {
    margin-bottom: 0.2rem;
}

li.card > .card-body {
    padding: 1rem;
    color: var(--text-color-dark);
}

li.card > .card-body:hover {
    text-decoration: none;
}

li.card > .card-body > h3.card-title {
    font-size: 1rem;
    margin-bottom: 0;
    color: var(--color-primary-alternative);
}

li.card > .card-body > p {
    margin-bottom: 0;
}

.bg-custom-muted {
    background-color: #E6E7EB;
}

#flex-container {
    display: flex;
    flex-direction: row;
}

#container {
    width: calc(100vw - 17rem);
    height: calc(100vh - 3.5rem);
    padding: 1.5rem 2rem;
    overflow: auto;
}

#container h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

#container h2 {
    font-size: 1.3rem;
    margin-bottom: 0.1rem;
}

.refresh {
    position: absolute;
    text-align: right;
    top: 0.8rem;
    right: 1.2rem;
    cursor: pointer;
}

@media(max-width: 768px) {
    #container {
        width: 100vw;
        padding: 5rem 1.25rem 0 1.25rem;
    }
}