<template>
    <section class="row">
        <div class="col-xs-12 col-lg-4">
            <form>
                <fieldset class="form-group">
                    <label>Email Address</label>
                    <input type="text" value.bind="email & validate" autocomplete="email" class="form-control">
                </fieldset>

                <fieldset class="form-group">
                    <label>Password</label>
                    <input type="password" value.bind="password & validate" autocomplete="current-password" class="form-control">
                </fieldset>

                <fieldset class="form-group">
                    <button click.delegate="login()" class="btn btn-info btn-block">Login</button>
                </fieldset>

                <div class="alert alert-danger" role="alert" if.bind="error">Incorrect username or password.</div>
            </form>
        </div>
    </section>
</template>