<template>
    <section class="row">
        <form class="col-xs-12 col-sm-4">
            <fieldset class="form-group">
                <label>Email Address</label>
                <input type="text" value.bind="email" autocomplete="email" class="form-control">
            </fieldset>

            <fieldset class="form-group">
                <label>Password</label>
                <input type="password" value.bind="password" autocomplete="new-password" class="form-control">
            </fieldset>

            <fieldset class="form-group">
                <label>Re-enter Password</label>
                <input type="password" value.bind="repassword" autocomplete="new-password" class="form-control">
            </fieldset>

            <fieldset class="form-group">
                <button click.delegate="login()" class="btn btn-info btn-block">Register</button>
            </fieldset>
        </form>
    </section>
</template>