.code-block {
    width: 100%;
    border: 1px solid #c8cacf;
    white-space: pre;
    margin-bottom: 1rem;
}

.code-line {
    font-family: 'Source Code Pro', monospace;
    font-size: 0.8rem;
}

.code-line td:first-of-type {
    width: 3rem;
    text-align: right;
    background-color: #E6E7EB;
    color: #9c9c9c;
    border-right: 1px solid #c8cacf;
}

.code-line td:last-of-type {
    padding-left: 0.75rem;
    cursor: pointer;
}

.code-line td:last-of-type:hover {
    background-color: #E6E7EB;
}

.code-line td:last-of-type > i {
    color: #3FC380;
}

#review-modal fieldset:last-of-type {
    margin-bottom: 0;
}

#total-marks {
    width: 4rem;
}

.review-container > div:not(:last-of-type) {
    margin-bottom: 1rem;
}

.review-container p {
    margin-bottom: 0;
}

.review-container p:last-of-type {
    margin-top: 1rem;
}