:root {
    --text-color-dark: #505050;
    --border-color: #C8CACF;
    --color-primary: #007BFF;
    --color-primary-alternative: #4D9BDB;
    --color-success: #28A745;
    --color-warning: #FFC107;
    --color-error: #DC3545;

    --navbar-height: 3.5rem;
}

@media(max-width: 768px) {
    #todo {
        margin-bottom: 2rem;
    }
}

#notifications, #todo {
    margin-bottom: 2rem;
}

#stats p {
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
}

#stats p > span {
    font-size: 1.4rem;
    margin-right: 0.2rem;
    color: var(--color-success);
}

#notifications li > .card-body > .notification-icon {
    float: right;
    line-height: 1.5rem;
    color: #BBD3E6;
}

.notifications {
    max-height: 15rem;
    overflow-y: auto;
}