#mywork div.card {
    max-height: calc(100vh - 12.875rem);
}

#mywork h3.card-title {
    margin-bottom: 0.3rem;
}

#mywork .badge {
    background-color: #cccccc;
    color: #ffffff;
}

#submit-modal .progress,
#submit-review-modal .progress {
    height: 1.3rem;
}

#submit-modal p,
#submit-review-modal p {
    margin-top: 1rem;
    margin-bottom: 0;
    text-align: center;
}

#workitem-record .card-block > div > p,
#workitem-record .card-block > p:last-of-type {
    margin-bottom: 0;
}

#workitem-record h4.sub-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.1rem;
}