<template>
    <section id="workitem-record" class="row">
            <div class="col">
                <div class="card card-list bg-primary-alternative">
                    <header class="card-header">${workitem.name}: ${workitem.title}</header>

                    <div class="card-block">
                        <p class="small">Submitted on: ${workitem.created_date | displayDate}</p>

                        <p><a href="http://localhost:3000/files/${workitem.filename}" download>Download file (${workitem.filename})</a></p>

                        <div class="review-container" if.bind="reviews.length > 0">
                            <hr>

                            <div repeat.for="review of reviews">
                                <p><strong>Review ${$index + 1}</strong></p>
                                <p>${review.marks_given} marks received</p>
                                <p>Additional Comments: ${review.additionalComments}</p>
                            </div>
                        </div>

                        <div if.bind="reviews.length === 0">
                            <hr>

                            <p class="text-danger">No feedback received yet. Check back soon!</p>
                        </div>

                        <hr if.bind="lines.length > 0">

                        <table if.bind="lines.length > 0" class="code-block">
                            <tbody>
                                <tr id="line-${$index}" class="code-line" repeat.for="line of lines">
                                    <td>${$index + 1}.</td>
                                    <td if.bind="line.hasComment" click.delegate="showCommentModal($index)"><i class="far fa-dot-circle"></i> ${line.contents}</td>
                                    <td if.bind="!line.hasComment">${line.contents}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </section>

    <div class="modal fade" id="workitem-record-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><strong>Line ${modalComments[0].lineNumber}</strong></h5>
                </div>
                <div class="modal-body">
                    <ul><li repeat.for="comment of modalComments">${comment.comment}</li></ul>
                </div>
            </div>
        </div>
    </div>
</template>