<template>
    <section id="mywork-submit" class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="card bg-primary-alternative">
                <header class="card-header">Submit Work</header>
                
                <div class="card-block">
                    <form>
                        <fieldset class="form-group">
                            <label>Module *</label>
                            <select value.bind="module & validate" class="form-control" change.delegate="moduleChanged(module)">
                                <option repeat.for="module of modules" model.bind="module">${module.name}</option>
                            </select>
                        </fieldset>

                        <fieldset class="form-group">
                            <label>Assignment *</label>
                            <select value.bind="assignment & validate" class="form-control" change.delegate="assignmentChanged(assignment)">
                                <option repeat.for="assignment of selectedAssignments" model.bind="assignment">${assignment.title}</option>
                            </select>
                        </fieldset>

                        <fieldset class="form-group">
                            <label>Additional Comments</label>
                            <textarea value.bind="comments" rows="1" class="form-control"></textarea>
                        </fieldset>

                        <fieldset class="form-group">
                            <label>Upload File *</label>
                            <input type="file" files.bind="workitem & validate" class="form-control">
                        </fieldset>

                        <hr class="row-separator">

                        <fieldset>
                            <button click.delegate="submit()" class="btn btn-success">Submit Work</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="submit-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <p><i class="fas fa-cog fa-spin"></i> &nbsp; Submitting work...</p>
                </div>
            </div>
        </div>
    </div>
</template>