<template>
    <section id="assignedwork" class="row">
        <div class="col-xs-12 col-lg-6">
            <div class="card card-list bg-primary-alternative">
                <header class="card-header">All Assigned Work</header>

                <ul class="card-block">
                    <li class="card" repeat.for="item of allocatedItems">
                        <a href="#/assignedwork/review/${item.workitem_id}" class="card-body">
                            <h3 class="card-title">${item.module_name}: ${item.title}</h3>
                            <p class="small">Submitted on: ${item.created_date | displayDate}</p>
                            <p class="small"><strong>Click to give feedback...</strong></p>
                        </a>
                    </li>

                    <li if.bind="allocatedItems.length === 0" class="card">
                        <a class="card-body">You don't have any work to review.</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</template>