<template>
    <div class="row">
        <div class="col-xs-12 col-xl-6">
            <section id="stats" class="card bg-primary-alternative">
                <header class="card-header">
                    <i class="far fa-chart-bar"></i> &nbsp; Stats
                </header>

                <div class="card-block">
                    <p><span>${stats.totalReviews}</span> review(s) completed this month</p>
                    <hr>
                    <p><span>${stats.totalWorkItems}</span> work item(s) submitted this month</p>
                </div>
            </section>
        </div>
    </div>
    
    <hr class="row-separator">

    <div class="row">
        <div class="col-xs-12 col-xl-6">
            <section id="notifications" class="card bg-primary-alternative">
                <header class="card-header">
                    <i class="far fa-bell"></i> &nbsp; Unread Notifications
                </header>

                <ul class="card-block notifications">
                    <li class="card" repeat.for="notification of notifications">
                        <a href="#/${notification.destination}" class="card-body">
                            <h3 class="card-title">${notification.title}</h3>
                            <p class="small">Click to view...</p>
                        </a>
                    </li>

                    <li if.bind="notifications.length === 0" class="card">
                        <a class="card-body">You have no notifications.</a>
                    </li>
                </ul>

                <button class="btn btn-info btn-card" click.delegate="goToRoute('notifications')" if.bind="notifications.length > 0">See all notifications</button>
            </section>
        </div>
    </div>
</template>