<template>
    <button click.delegate="submitWork()" class="btn btn-success"><i class="fa fa-plus"></i> &nbsp; Submit Work</button>

    <hr class="row-separator">

    <section id="mywork" class="row">
        <div class="col-xs-12 col-lg-6">
            <div class="card card-list bg-primary-alternative">
                <header class="card-header">All Submissions</header>

                <ul class="card-block">
                    <li class="card" repeat.for="workitem of recentlySubmitted">
                        <a href="#/workitem/${workitem.id}" class="card-body">
                            <h3 class="card-title">${workitem.module_name}: ${workitem.title}&emsp;<span if.bind="workitem.isNew" class="badge badge-success">NEW</span></h3>
                            <p class="small">Submitted on: ${workitem.created_date | displayDate}</p>
                            <p class="small"><strong>Click to view submission...</strong></p>
                        </a>
                    </li>

                    <li if.bind="recentlySubmitted.length === 0" class="card">
                        <a class="card-body">You haven't submitted any work.</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</template>