<template>
    <div class="row">
        <div class="col-xs-12 col-xl-6">
            <section class="card bg-primary-alternative">
                <header class="card-header">
                    <i class="far fa-bell"></i> &nbsp; 
                    Unread Notifications
                </header>

                <ul class="card-block notifications">
                    <li class="card" repeat.for="notification of unread">
                        <a href="#/${notification.destination}" class="card-body">
                            <h3 class="card-title">${notification.title}</h3>
                            <p class="small">Click to view...</p>
                        </a>
                    </li>

                    <li if.bind="unread.length === 0" class="card">
                        <a class="card-body">You have no unread notifications.</a>
                    </li>
                </ul>
            </section>
        </div>
    </div>

    <hr class="row-separator">
    
    <div class="row">
        <div class="col-xs-12 col-xl-6">
            <section class="card bg-primary-alternative">
                <header class="card-header">
                    <i class="far fa-bell-slash"></i> &nbsp; 
                    Read Notifications
                </header>

                <ul class="card-block notifications">
                    <li class="card" repeat.for="notification of read">
                        <a href="#/${notification.destination}" class="card-body">
                            <h3 class="card-title">${notification.title}</h3>
                            <p class="small">Click to view...</p>
                        </a>
                    </li>

                    <li if.bind="read.length === 0" class="card">
                        <a class="card-body">You have no read notifications.</a>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</template>